<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../static/img/ico.png">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <script src="../Pagina/javaS.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
</head>
<body id="inicio" align="Center">
    <div>
        <header id="Cab">Bienvenido(a)</header>
        
            <p class="TextoN"> Este es el "Sistema de Detección de 
                <br>Vehículos en Imágenes", creado por el
                <br>alumno.
    
                <br>"Aguilar Vargas Antonio Emmanuel".
                
                <br>Agradecemos tu alimenación a esta
                <br>inteligencia. 
                <br><br>
                <i>Ven, vamos a hacerlo mejor.</i></p>

    </div>
    <br>
    <br><br>
    <a class="Botones" type="submit" onclick="href='/index'" class="Botones">
        <div class="FlechaN">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
              </svg>
        </div>
        <span>Iniciar</span>
    </a>
        <br>
    <div>
        <footer id="Pie">
            Estacia II - Aguilar Vargas Antonio Emmanuel 7A - ITI - AVAO191844
        </footer>
    </div>
</body>

</html>