{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p class="TextoN">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../static/img/ico.png">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <script src="../Pagina/javaS.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUEVO USUARIO</title>
</head>
<body id="nuevoUsuario" align="Center">
    <h1 id="Cab">Nuevo Usuario</h1>
    <form action="/add_contact" method="POST">
        <div class="Imagen"><img src="../static/img/UP.png" alt=""></div>
        <br>
        <p class="TextoN"> Porfavor llena todos los campos a continuación:
        <div class="Form">
            <input type="text" class="Formulario" name="nombre" placeholder="NOMBRE">
        </div>
        <br><br>
        <div class="Form">
            <input type="text" class="Formulario" name="apellido" placeholder="APELLIDO">
        </div>
        <br>
        <br>
        <div class="Form">
            <input type="text" class="Formulario" name="contra" placeholder="CONTRASEÑA">
        </div>
        <br>
<!--CONTENEDOR DE BOTONES-->
<div class="contenedor-botones2">
    <button class="BotonAceptar" type="submit" class="Botones">
        <div class="IAceptar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
        </div>
        <span>Registrar</span>
    </button>
    <a class="BotonCancelar" type="submit" onclick="href='/nuevo'" class="Botones">
        <div class="ICancelar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
        </div>
        <span>Cancelar</span>
    </a>
</div>
    </form>

    <footer id="Pie">
        Estacia II - Aguilar Vargas Antonio Emmanuel 7A - ITI - AVAO191844
    </footer>

</body>
</html>